<f:spaceless>
    <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
            <f:for each="{menuBreadcrumb}" as="menuItem">
             <f:if condition="{menuItem.current} != 1">
                <f:then>
                    <li><a href="{menuItem.link}">{menuItem.title}</a></li>
                </f:then>
                <f:else>
                    <li> <span class="show-for-sr">Current: </span>{menuItem.title}</li>
                </f:else>
            </f:if>
            </f:for>
        </ul>
    </nav>
</f:spaceless>