.foundation_title {
	background:#ededed;
	padding:10px;
	width:100%;
	display: block;
	border-bottom:1px solid #ccc;
}
.foundation_table {
	width:100%;
}
.foundation_table tr {
    border-bottom: 1px solid #ccc;
}
.foundation_table tr th {
	width:30rem;
}
.foundation_table tr th, .foundation_table tr td {
	padding: 5px 10px;
}
.foundation_slider tr th:nth-child(3) {
	border-left:1px solid #ccc;
	padding-left:30px;
}
.foundation_subtitle {
	background:#ededed;
	padding:5px 10px;
	width:100%;
	display: block;
	border-bottom:1px solid #ccc;
}

.foundation_table.one_table tr th:nth-child(3) {
	padding-left:10px;
	border-left:none;
}