<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
data-namespace-typo3-fluid="true">

<f:alias map="{
	verticalTabs: tabssettings.0.data.vertical_tabs,
	collapsedTabs: tabssettings.0.data.collapse_tabs,
	deepLinking: tabssettings.0.data.deep_linking,
	uid: tabssettings.0.data.uid,
	tabsContents: tabssettings.0.tabsContents
	}">
	<f:if condition="{verticalTabs}">
		<f:then>
	 		<f:render partial="Tabs/Vertical_tabs" arguments="{collapsedTabs: collapsedTabs, deepLinking: deepLinking, uid: uid, tabsContents: tabsContents}"/>
	 	</f:then>
	 	<f:else>
	 		<f:render partial="Tabs/Tabs" arguments="{collapsedTabs: collapsedTabs, deepLinking: deepLinking, uid: uid, tabsContents: tabsContents}"/>
		</f:else>
	</f:if>
</f:alias>

</html>




